
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> PHPStorm ###
.idea/
###< PHPStorm ###

###> Docker ###
docker-env
docker-compose.yml
docker/nginx/log
###< Docker ###